<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app uses speech recognition to detect voice commands for activating emergency alerts</string>
	<key>CFBundleExecutable</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires microphone access to record audio for emergency situations.</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string></string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key></key>
	<dict/>
	<key>CFBundleShortVersionString</key>
	<string></string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to show you on the campus map.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
